body {
    background-color: rgb(53, 47, 47);
    color: rgba(249, 207, 0, 0.903);
}rgb(236, 33, 33)



p {
    color: aqua; 
    
}

a {
    color: aqua;
    background-color: black;
}

h2 {
    color: aqua;
    background-color: black;
}

h3 {
    color: aqua;
    background-color: black;
}

h4 {
}